[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/queezythegreat/arduino-cmake.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/timwu/ChibiOS-RT.git
[submodule "i2cdevlib"]
	path = i2cdevlib
	url = https://github.com/timwu/i2cdevlib.git
